<md-card>
  <md-card-title>Algorithms Repository</md-card-title>
  <md-card-subtitle>2016 - Present</md-card-subtitle>

  <p>
    For about a year I have been working on an algorithms code
    repository on GitHub that started when I first began preparing
    for techinical internship interviews. Since then, the repository
    has grown considerably and is intended to be a one-stop shop for
    solutions to classic computer science problems, as well as technical
    interview questions. One of the things I am most proud of regarding
    this repository is the fact that it is so well documented. The reason
    this is important for me is so that ANYONE can come through, look at a
    problem, and find a very accessible and easy-to-understand solution that
    comes with the problem out of the box.
  </p>

  <img src="/assets/img/algorithms.png" alt="algorithms repository picture" />

</md-card>

<md-card>
  <md-card-title>ACM ICPC Competition</md-card-title>
  <md-card-subtitle>October 2016</md-card-subtitle>

  <p>
    In the Fall of 2016 my university (University of Cincinnati) was
    a regional site for the ACM International Collegiate Programming Contest
    and not only did I get to organize the event, but I was able to form a team
    with my classmates and compete as well. I've always be interested in algorithms
    so participating in the contest was very natural to me. I was able to learn a lot
    about programming, pressure, and teamwork in the 5 hour contest with my team and friends.
  </p>

  <img src="/assets/img/icpc.jpg" alt="" />

</md-card>

<md-card>
  <md-card-title>RevolutionUC Hackathon</md-card-title>
  <md-card-subtitle>October 2016</md-card-subtitle>

  <p>
    In the Fall of 2016 me and several other friends from the ACM student
    organization had the pleasure of putting on our University's premiere
    student hackathon. In case you don't know what a Hackathon is, basically
    it is a 24 hour event where students from all different Universities come
    together and compete for prizes awarded to the best applications started
    and completed at the event.
  </p>
  <p>
    Organizing the event was a lot of fun; my primary role was to build and maintain
    the website as well as the live website we used to push real-time notifications to
    participants.
  </p>

  <img src="/assets/img/revuc.jpg" alt="" />

</md-card>
