<md-card>
  <md-card-title>Interactive Intelligence</md-card-title>
  <md-card-subtitle>January 2016 - August 2016</md-card-subtitle>

  <p>
    At Interactive Intelligence my title was "Software Development Engineer Intern in Test"
    which was basically a fancy way of saying I developed the testing framework that other
    test engineers used every day when working with our products. This gave me the responsibility
    of designing and writing a lot of testing framework that many teams across the company would
    use. This was the first job I've had where I got to write large amounts of production framework
    that would be used by hundreds of other engineers. From this, I learned a lot about Java and
    common design patterns used in production software and got to solve a lot of really interesting
    design and implementation problems. I learned how to think at a very abstract level to design
    software that could be used by tons of other people efficiently, all while fine-tuning my Java
    implementation skills.
  </p>

</md-card>

<md-card>
  <md-card-title>Nationwide Insurance</md-card-title>
  <md-card-subtitle>May 2015 - August 2015</md-card-subtitle>

  <p>
    At Nationwide I was an "Application Developer Intern". I worked on the
    <a href="https://nationwidefinancial.com/#!/">Nationwide Financial</a>
    web application with a team of software developers and our job was to
    enhance existing features on the app as well as implement new ones.
    This was really my first real techinical job at a very large company and
    I got to learn a lot about working with a large team on one project and how
    to coordinate high priority tasks among many people. On the technical side
    of things I mainly used CSS and JavaScript for the front-end development work
    I did and was able to fine-tune my skills in both of these technologies.
  </p>

</md-card>
